#### Query Parameters

{{#if queryParams}}
<table>
<thead>
<tr>
<th>Parameter</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead>
<tbody>
{{#each queryParams as |opParam|}}
{{> paramProp prop=opParam propName=opParam.name required=(isRequired ../schema @key) path=''}}
{{/each}}
</tbody>
</table>
{{else}}
No query parameters.
{{/if}}
